<footer>
	<div class="footer-container">
		<div class="col-md-12" style="text-align: center;">

		  <div class="social-media" style="text-align: center;">
			<a href="https://www.facebook.com/ieeeceksb/"><i class="fab fa-facebook-f"></i></a>
			<a href="https://www.instagram.com/ieee_sb_cek/?hl=en"><i class="fab fa-instagram"></i></a>
			<a href="https://twitter.com/IEEE_SB_CEK"><i class="fab fa-twitter"></i></a>
			<a href="https://www.linkedin.com/company/ieeesbcek"><i class="fab fa-linkedin-in"></i></a>
		  </div>
		  <div class="col-md-12 text-center" style="text-align: center;">
			<p style="color: aliceblue; text-align: center;">Made with ❤ | IEEE SB CEK &copy; <script>
				document.write(new Date().getFullYear());</script></p>
		  </div>
		</div>



  </footer>