<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="images/ieee.png" height="50px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
		  <li class="nav-item"><a href="/" class="nav-link icon d-flex align-items-center">Home</a></li>
		  <li class="nav-item df-elx dropdown">
			<a class="nav-link d-flex align-items-center dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  About
			</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
			  <a class="dropdown-item" href="/about">About us</a>
			  <a class="dropdown-item" href="/legacy">Legacy</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="ByLaw.pdf">Constitution</a>
			</div>
		  </li>
		  <li class="nav-item"><a href="/execom" class="nav-link icon d-flex align-items-center">Execom</a></li>
		  <li class="nav-item"><a href="/timeline" class="nav-link icon d-flex align-items-center">Timeline</a></li>
		  <li class="nav-item"><a href="https://site.ieee.org/sb-cek" class="nav-link icon d-flex align-items-center">Activities</a></li>
		  <li class="nav-item"><a href="/contactus" class="nav-link icon d-flex align-items-center">Contact us</a></li>
		  <li class="nav-item df-elx dropdown">
			<a class="nav-link d-flex align-items-center dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  More Links
			</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
			  <a class="dropdown-item" href="http://www.ieee.org/">IEEE.org</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="http://ieeexplore.ieee.org/">IEEE Xplore Digital Library</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="http://standards.ieee.org/">IEEE Standards</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="https://spectrum.ieee.org/">IEEE Spectrum</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="http://www.ieeer10.org/">IEEE Region 10</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="https://ieeekerala.org/">IEEE Kerala Section</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="http://www.ieee.org/sitemap">More Sites</a>
			</div>
		  </li>
        </ul>
      </div>
	  </div>
  </nav>